---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Constants:

$padding-size: 50px;
$padding-width: 15%;

$font-size-big: 3.205rem;
$font-size-medium: 2.018rem;
$font-size-small: 1.355rem;
$font-size-mobile-delta: 0.7rem;

// Mixins:

@mixin header-font($size) {
  $delta: 0.2rem;

  font-size: $size;
  line-height: $size + $delta;
}

// General:

* {
  box-sizing: border-box;
}

main {
  padding: $padding-size $padding-width;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;

  a {
    text-decoration: none;
  }
}

h1 {
  @include header-font($font-size-big);
}

h2 {
  @include header-font($font-size-medium);
}

h3 {
  @include header-font($font-size-small);
}

a {
  &, &:active, &:visited {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}

p {
  img {
    margin: 0 auto;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Navigation

nav {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 5px;
    }
  }
}

table {
  th,
  td {
    padding: 0 5px;
  }
}

.toc__component {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.visible {
    opacity: 1;
    height: auto;
  }
}

// Comments

.comments__component {
  padding: $padding-size $padding-width;
}

// Responsive layout

@media screen and (max-width: 640px) {
  main,
  .comments__component {
    padding: $padding-size 5% 0 5%;
  }

  h1 {
    @include header-font($font-size-big - $font-size-mobile-delta);
  }

  h2 {
    @include header-font($font-size-medium - $font-size-mobile-delta);
  }

  h3 {
    @include header-font($font-size-small - $font-size-mobile-delta + 0.2rem);
  }
}
