---
# Only the main Sass file needs front matter (the dashes are enough)
---

main {
  padding: 50px 15%;
}

a {
  &, &:active, &:visited {
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Navigation

nav {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 5px;
    }
  }
}

// Responsive layout

@media screen and (max-width: 640px) {
  main {
    padding: 50px 5%;
  }

  h1 {
    font-size: 3.242rem;
    line-height: 3.5rem;
  }
}
