<nav role="menu">
  <a id="toc_link" href="#toc">Table of Contents</a>

  <div class="toc__component visible">

    <h4>Working with the client</h4>
    <ul>
      <li>
        What can we help you with
      </li>
      <li>
        <a role="menuitem" title="Audits"
           href="{{ '/rsdp/audits' | prepend: site.baseurl }}">
          Audits
        </a>
      </li>
      <li>
        <a role="menuitem" title="Estimates"
           href="{{ '/rsdp/estimates' | prepend: site.baseurl }}">
          Estimates
        </a>
      </li>
      <li>
        <a role="menuitem" title="Requirements analysis"
           href="{{ '/rsdp/requirements-analysis' | prepend: site.baseurl }}">
          Requirements analysis
        </a>
      </li>
      <li>
        <a role="menuitem" title="How to always be on time"
           href="{{ '/rsdp/how-to-always-be-on-time' | prepend: site.baseurl }}">
          How to always be on time
        </a>
      </li>
      <li>
        <a role="menuitem" title="Access to the project"
           href="{{ '/rsdp/access-to-the-project' | prepend: site.baseurl }}">
          Access to the project
        </a>
      </li>
      <li>
        <a role="menuitem" title="How our ticket system works"
           href="{{ '/rsdp/how-our-ticket-system-works' | prepend: site.baseurl }}">
          How our ticket system works
        </a>
      </li>
      <li>
        Statistics
      </li>
      <li>
        <a role="menuitem" title="Billing"
           href="{{ '/rsdp/billing' | prepend: site.baseurl }}">
          Billing
        </a>
      </li>
      <li>
        <a role="menuitem" title="Sales"
           href="{{ '/rsdp/sales' | prepend: site.baseurl }}">
          Sales
        </a>
      </li>
      <li>
        <a role="menuitem" title="Dealbreakers"
           href="{{ '/rsdp/dealbreakers' | prepend: site.baseurl }}">
          Dealbreakers
        </a>
      </li>
    </ul>

    <hr>

    <h4>Hiring</h4>
    <ul>
      <li>
        <a role="menuitem" title="Team and scaling"
           href="{{ '/rsdp/team-and-scaling' | prepend: site.baseurl }}">
          Team and scaling
        </a>
      </li>
      <li>
        <a role="menuitem" title="Job application"
           href="{{ '/rsdp/job-application' | prepend: site.baseurl }}">
          Job application
        </a>
      </li>
      <li>
        <a role="menuitem" title="Employees"
           href="{{ '/rsdp/employees' | prepend: site.baseurl }}">
          Employees
        </a>
      </li>
      <li>
        <a role="menuitem" title="Work-Life balance"
           href="{{ '/rsdp/work-life-balance' | prepend: site.baseurl }}">
          Work-Life balance
        </a>
      </li>
    </ul>

    <hr>

    <h4>Development process</h4>
    <ul>
      <li>
        <a role="menuitem" title="Roles and responsibilities"
           href="{{ '/rsdp/roles-and-responsibilities' | prepend: site.baseurl }}">
          Roles and responsibilities
        </a>
      </li>
      <li>
        <a role="menuitem" title="Communications"
           href="{{ '/rsdp/communications' | prepend: site.baseurl }}">
          Communications
        </a>
      </li>
      <li>
        <a role="menuitem" title="Creating issues"
           href="{{ '/rsdp/creating-issues' | prepend: site.baseurl }}">
          Creating issues
        </a>
      </li>
      <li>
        <a role="menuitem" title="How tasks are assigned"
           href="{{ '/rsdp/how-tasks-are-assigned' | prepend: site.baseurl }}">
          How tasks are assigned
        </a>
      </li>
      <li>
        <a role="menuitem" title="Definition of Done"
           href="{{ '/rsdp/definition-of-done' | prepend: site.baseurl }}">
          Definition of "Done"
        </a>
      </li>
      <li>What if task can not be accomplished</li>
      <li>Some things that can not be done right now</li>
      <li>
        <a role="menuitem" title="Closing issues"
           href="{{ '/rsdp/closing-issues' | prepend: site.baseurl }}">
          Closing issues
        </a>
      </li>
      <li>
        <a role="menuitem" title="Creating merge requests"
           href="{{ '/rsdp/creating-merge-requests' | prepend: site.baseurl }}">
          Creating merge requests
        </a>
      </li>
      <li>
        <a role="menuitem" title="Making decisions"
           href="{{ '/rsdp/making-decision' | prepend: site.baseurl }}">
          Making decisions
        </a>
      </li>
    </ul>
  </div>
</nav>
